@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot?t=1545807318834');
    src: url('../iconfont/iconfont.eot??t=1545807318834#iefix') format('embedded-opentype'),
      url('../iconfont/iconfont.woff?t=1545807318834') format('woff'),
      url('../iconfont/iconfont.ttf?t=1545807318834') format('truetype'),
      url('../iconfont/iconfont.svg#iconfont?t=1545807318834') format('svg');
  }
 
  

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenyezuihouye:before {
  content: "\e600";
}

.icon-fenyezuiqianye:before {
  content: "\e601";
}

.icon-wenhao:before {
  content: "\e66d";
}

.icon-sousuo:before {
  content: "\e6ac";
}

.icon-dangan:before {
  content: "\e618";
}

.icon-yunpingtai_shouye-tixing:before {
  content: "\e781";
}

.icon-renyuanguanli:before {
  content: "\e64b";
}

.icon-baobei:before {
  content: "\e603";
}

.icon-daochu:before {
  content: "\e604";
}

.icon-fenyeshangyiye:before {
  content: "\e746";
}

.icon-rentou:before {
  content: "\e60d";
}

.icon-fenyezuiqianye1:before {
  content: "\e64c";
}

.icon-fenyezuiqianye-copy-copy:before {
  content: "\e64e";
}

.icon-health-inquiry:before {
  content: "\e679";
}

.icon-quanxian:before {
  content: "\e605";
}

.icon-rentouxiang:before {
  content: "\e63e";
}

.icon-yemian:before {
  content: "\e606";
}

.icon-bangzhu-:before {
  content: "\e607";
}

.icon-wenhao1:before {
  content: "\e602";
}

.icon-daochu1:before {
  content: "\e716";
}

.icon-wenhaobangzhu-xianxingyuankuang:before {
  content: "\e760";
}

.icon-pagernext:before {
  content: "\e642";
}

.icon-zixun:before {
  content: "\e694";
}

.icon-trash:before {
  content: "\e608";
}

.icon-xiazai:before {
  content: "\e636";
}

.icon-fenyexiayiye:before {
  content: "\e668";
}

